body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
/*清除浮动*/
.content{
	width: 1000px;
	margin:0 auto;
}
.headerone{
	background-color: #555;
}
.headerone li{
	display: block;
	padding: 0 20px;
	float: right;
	text-align: center;
	list-style-type: none;
}
.headerone a{
	text-decoration: none;
	font: 15px/35px "Microsoft Yahei",sans-serif;
}
.headerone a:hover{
	color: white;
	text-decoration: none;
}
.headerone .navthree{
	color: #29aadf;
}
.headerone .navtwo{
	color: #92c12f;
}
.headerone .navone{
	color: #ccc;
}
/*导航栏一*/
.headertwo a img{
	display: block;
	float: left;
	margin:10px; 
}
.headertwo a+a img{
	margin:25px 50px 10px 15px;
}
.headertwo ul{
	display: block;
	float: left;
}
.headertwo li{
	display: block;
	float: left;
	text-align: center;
	list-style-type: none;
	padding: 0 25px;
}
.l-position{
	position: relative;
}
.headertwo a{
	text-decoration: none;
	font: 18px/72px "Microsoft Yahei",sans-serif;
	color: #555;
}
.headertwo a:hover{
	color: #2ea7e0;
	text-decoration: none;
}
.headertwo ul a span{
	width: 0;
	height: 0;
	border-top:4px solid #555;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	position: relative;
	top:16px;
	left: 5px;
}
.headertwo ul a span:hover{
	border-top:4px solid #2ea7e0;
}
#menu{
	display: none;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	width: 126px;
	height: 95px;
	z-index: 9999;
	position: absolute;
	top:48px;
	right: 1%;
}
#menu li{
	padding: 0;
	float: none;
}
#menu a{
	margin:2px 10px;
	display: block;
	text-align: left;
	text-indent: 4px;
	font:14px/27px "Microsoft Yahei",sans-serif;
	color: #555;
}
#menu a:hover{
	color: white;
	background-color: #2ea7e0;
}
/*导航栏二*/
.headerthree{
	background-color: #fffbe2;
}
.headerthree p{
	display: block;
	text-align: center;
	color: #f58708;
	font: 14px/45px "Microsoft Yahei",sans-serif;
}
/*淡红文本*/
.inner{
	width: 383px;
	height: 280px;
	position: absolute;
	left: 750px;
	top:180px;
	background: rgba(255,255,255,0.8);
}
.innerer{
	width: 75%;
	height: 75%;
	margin: auto auto;
}
.innerer span{
	font:16px/24px "Microsoft Yahei",sans-serif;
	display: block;
	margin-top: 30px;
}
.innerer p{
	font: 80px/80px "Microsoft Yahei",sans-serif;
	display: block;
	margin: 12px ;
	text-align: center;
	color: #2ea7e0;
}
.innerer a{
	text-decoration: none;
	font:16px/48px "Microsoft Yahei",sans-serif;
	color: white;
	text-align: center;
	display: block;
	border: 1px solid #2ea7e0;
	width: 300px;
	height: 48px;
	background-color: #2ea7e0;
	border-radius: 4px;
	margin-top: 40px;
}
.innerer a:hover{
	text-decoration: none;
	background: #08c;
}
.headerfour{
	position: relative;
}
.headerfour a{
	height: 356px;
	display: block;
	background: url(../images/scroll.jpg)50% 50% no-repeat;
}
.containerone .three{
	float: left;
	width: 300px;
	margin:20px 10px;
}
.containerone .window{
	width: 126px;
	height: 93px;
	background: url(../images/intro-icon01.png);
 	background-position:top;
}
.containerone .window:hover{
	background: url(../images/intro-icon01.png);
	background-position: 0 -107px;
}
.containerone .three a{
	text-decoration: none;
	display: block;
}
.containerone .three span{
	font: 24px/45px "Microsoft Yahei",sans-serif;
	color: #555;
	padding: 0 12px;
}
.containerone .three p{
	font:14px "Microsoft Yahei",sans-serif;
	color: #555;
	display: block;
	padding: 0 12px;
}
.containerone .three a:hover span{
	color: #2ea7e0;
}
.containertwo .more{
	border-top:1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.containertwo .more a{
	text-decoration: none;
	text-align: center;
	font:14px/50px "Microsoft Yahei",sans-serif;
	padding: 0 20px;
} 
.containertwo .more a:hover{
	color: #08c;
}
.containertwo .more .radius{
	display: block;
	float: right;
	width: 56px;
	height: 26px;
	border: 1px solid #ccc;
	border-radius: 12px;
	font:14px/28px "Microsoft Yahei",sans-serif;
	color: #808080;
	position: relative;
	top:10px;
}
.containertwo .more a.radius:hover{
	border: 1px solid #08c;
}
.containertwo .more span{
	padding:0 40px 0 500px;
	text-align: center;
	font:14px "Microsoft Yahei",sans-serif;
	color: #c0c0c0;
}

.containerthree{
	background-color:#FEFAF5;
	margin:28px 0;
}
.containerthree .salary div{
	float: left;
	margin:30px 0;
	width: 65px;
	font:18px/40px "Microsoft Yahei",sans-serif;
	color: #F3983D;
	border-right: 1px solid #F3983D;
}
.containerthree .salary span{
	display: block;
	float: left;
	width:600px;
	color: #F3983D;
	font:12px "Microsoft Yahei",sans-serif;
	margin-top: 34px;
	margin-left: 8px;
}
.containerthree .salary span+span{
	color: #C9CACA;
	margin-top: 0;
}
.bfour{
	float: left;
	width: 26%;
	margin-bottom:54px;
}
.bfour .win{
	width: 100px;
	height: 100px;
	float: left;
	background: url(../images/index-fixed.png);
	background-position:0 -200px ;
	margin-right: 12px;
}
.bfour p{
	font:14px "Microsoft Yahei",sans-serif;
	color: #808080;
	margin-top: 12px;
}
.bfour p+p{
	margin-top: 8px;
	color: #F3983D;
}
.bfour span{
	font-size: 1.8em;
}
.mfour{
	float: left;
}
.mfour>p{
	font:14px "Microsoft Yahei",sans-serif;
	margin-top: 12px;
	color: #808080;
}
.mfour a{
	text-decoration: none;
	text-indent: 25px;
	font:14px/36px "Microsoft Yahei",sans-serif;
	display: block;
	margin:8px 0 0 ;
	width: 136px;
	height: 36px;
	border: 1px solid #F3983D;
	border-radius: 2px;
	background: #FEF4EB;
	color: #F3983D;
}
.mfour a:hover{
	background-color: #F3983D;
	color: white;
	text-decoration: none;
}
.mfour a:hover span{
	background: url(../images/index-fixed.png);
	background-position: 0 -80px;
}
.mfour a span{
	background: url(../images/index-fixed.png);
	background-position: 0 -40px;
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	left: 84px;
	bottom: 28px;
}
.sub{
	height: 40px !important;
}
.title{
	font:20px "Microsoft Yahei",sans-serif;
	color: #555;
	margin-left:36px;
	display: block;
}
.containerfour li{
	list-style-type: none;
}
.containerfour .content>ul>li{
	width: 100%;
	height: 60px;
	margin:20px 0 8px 0;
	display: block;
}
.containerfour .content>ul>li>span{
	float: left;
	margin-bottom: 15px;
	font:14px "Microsoft Yahei",sans-serif;
}
.containerfour .long li{
	display: block;
	float: left;
}
.long{
	margin: 0 !important;
}
.containerfour .wint{
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	background: url(../images/loantypes.png);
	background-position: -62px -2px;
	position: relative;
	top: 14px;
}
.long .l-one a{
	font:16px/30px "Microsoft Yahei",sans-serif !important;
	padding-left: 5px;
}
.long .l-one a:hover{
	text-decoration: none;
	color: #2ea7e0;
}
.t-one{
	margin-right:88px;
	margin-left: 163px;
}
.l-one{
	margin-right: 174px;
	margin-left: 46px;
}
.t-two{
	margin-right: 50px;
}
.l-two{
	font:16px/37px "Microsoft Yahei",sans-serif !important;
	text-align: center;
	color: white;
	border-radius: 18px;
	width: 36px;
	height: 36px;
	border: 1px solid #bfdb39;
	background-color: #bfdb39;
	position: relative;
	top:10px;
	margin-right: 52px;
}
.t-three{
	margin-right: 114px;
}
.l-three{
	margin-right: 88px;
}
.t-four{
	margin-right: 85px;
}
.l-four{
	margin-right: 54px;
}
.t-five{
	margin-right: 80px;
}
.l-five{
	margin-right: 62px;
}
.t-six{
	margin-right: 70px;
}
.l-six{
	background: url(../images/progressbar_mid.png);
	background-position: 60px 0;
	width: 45px;
	height: 45px;
	position: relative;
	top:8px;
	font:10px/45px  "Microsoft Yahei",sans-serif !important;
	text-align: center;
	margin-right: 34px;
}
.t-seven{
	color: #2ea7e0;
	background:url(../images/order_05.png) no-repeat;
	width: 48px;
	text-align: right;
}
.l-seven{
	border: 1px solid #c7d78c;
	border-radius: 15px;
	background-color: #c7d78c;
	font:16px/30px "Microsoft Yahei",sans-serif !important;
	color: white;
	width: 85px;
	height: 30px;
	text-align: center;
	position: relative;
	top:14px;
}
.morepro{
	text-align: center;
	margin:0 !important;
	border-bottom: 1px solid rgb(229,228,226);
}
.morepro a{
	font:16px/58px "Microsoft Yahei",sans-serif;
	color:#a9a9a9 !important;
	text-align: center;
	text-decoration: none;
}
.morepro a:hover{
	text-decoration: none;
	color: #2ea7e0;
}
.long li{
	font:10px/56px  "Microsoft Yahei",sans-serif;
}
.long li em{
	font:18px/56px "Microsoft Yahei",sans-serif;
}
.long ul{
	border-bottom: 1px solid rgb(229,228,226);
}
.long ul:hover{
	background-color: rgb(249,249,249);
}
.containerfive{
	margin-top: 30px;
	margin-bottom: 100px;
}
.containerfive ul li span{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	border: 1px solid #0697DA;
	border-radius: 50% 50% 50% 50%;
	position: relative;
	top:16px;
	margin:0 20px 0 60px;
}
.containerfive ul .gray:hover{
	background-color: rgb(249,249,249);
}
.containerfive ul li{
	border-bottom: 1px solid rgb(229,228,226);
}
.containerfive ul li a{
	text-decoration: none;
	font:16px/44px "Microsoft Yahei",sans-serif;
	color: #555;
}
.containerfive ul li a:hover{
	color: #08c;
}
.containerfive ul li p{
	font:14px/44px "Microsoft Yahei",sans-serif;
	color: #a9a9a9;
	display: block;
	float: right;
	position: relative;
	right: 15px;
	text-align: center;
}
.footer{
	background-color: #555;
}
.footer span{
	float: left;
	color: #808080;
	font:16px "Microsoft Yahei",sans-serif;
}
.footer ul{
	display: block;
	float: left;
	width: 90%;
	padding-bottom: 10px;
}
.footer li{
	display: block;
	float: left;
	color: #808080;
}
.footer a:hover{
	text-decoration: none;
	color: #08c;
}
.f-two span{
	display: block;
	float: left;
	color: #808080;
}
.f-one{
	border-bottom: 1px solid  #808080;
	padding-top: 20px;
}
.f-one a{
	font:14px "Microsoft Yahei",sans-serif;
	text-decoration: none;
	color: #808080;
	display: block;
	margin: 5px 15px;
}
.f-two ul{
	display: block;
	float: left;
}
.f-two a{
	font:14px "Microsoft Yahei",sans-serif;
	color: #808080;
	text-decoration: none;
}
.f-two ul li a{
	text-decoration: none;
	color: #808080;
	margin: 0 15px 0 0;
}
.f-two p{
	display: block;
	float: right;
	color: #808080;
	padding-top: 5px;
}
.phone{
	font:20px "Microsoft Yahei",sans-serif;
}
.f-two{
	border-bottom: 1px solid  #808080;
}
.left{
	float: left;
	width: 800px;
	margin-bottom: 10px;
}
.right{
	float: right;
	width: 156px;
	margin-top: 12px;
}
.intro{
	float: left;
	width: 100%;
	margin: 10px 0;
}
.intro li{
	margin: 0 19px 0 0;
}
.serve{
	float: left;
	width: 100%;
}
.QWO{
	margin:0 18px;
}
.QWO a{
	display: block;
	width: 99px;
	height: 30px;
	background: url(../images/footer-icons.png) no-repeat;
}
.QWO a:hover{
	background:url(../images/footer-icons.png) no-repeat;
	background-position: 0 -30px;
}
.f-three a{
	font:12px "Microsoft Yahei",sans-serif;
	color: #808080;
	text-decoration: none;
}
.f-three ul{
	display: block;
	margin:14px 0 10px 60px;
}
.f-three li{
	font:12px "Microsoft Yahei",sans-serif;
	padding: 0 10px;
	border-right: 1px solid #808080;
}
.last{
	border: 0 !important;
}
.par{
	display: block;
	width: 96px;
	height: 50px;
	background: url(../images/footer-icons.png)no-repeat;
	background-position: -249px -60px;
}
.f-four ul{
	margin-left: 115px;
}
.f-four li{
	padding: 0 10px;
}
.f-four a:hover{
	background: url(../images/footer-icons.png)no-repeat;
	background-position:-249px -110px;
}
/*首页*/





.mainer{
	background-color: rgb(242,242,242);
	position: relative;
}
.m-borrow{
	height: 2134px;
}
.bor{
	position: relative;
	top: 30px;
	width: 1000px;
	margin:0 auto;
	background-color: white;
}
.per{
	width: 1000px;
	margin:55px auto 0;
	background-color: white;
}
.adv{
	width: 1000px;
	margin:30px auto 0;
	background-color: white;
}
.f-ste{
	width: 1000px;
	margin:30px auto 0;
	background-color: white;
}
.head{
	border: 1px solid #e0e0e0;
}
.head h1{
	height:58px;
	font:24px/58px "Microsoft Yahei",sans-serif;
	color: #222;
	text-indent: 20px;
	position: relative;
}
.headTop h1{
	display: block;
	float: left;
}
.headTop div{
	float: right;
	margin-top: 20px;
}
.headTop div em{
	font:14px "Microsoft Yahei",sans-serif;
	color: #666;
	float: left;
	display: block;
	padding-right: 15px;
	padding-top: 5px;
}
.headTop div span{
	background-color: #f01f5a;
	color: #fff;
	border-radius: 18px;
	font:14px/30px "Microsoft Yahei",sans-serif;
	width: 30px;
	height: 30px;
	text-align: center;
	display: block;
	float: left;
}
.headTop div a{
	display: block;
	float: left;
	text-decoration: none;
	font:14px "Microsoft Yahei",sans-serif;
	color: #2ea7e0;
	padding-left: 15px;
	padding-top: 5px;
}
.num .pos{
	border-bottom: 1px dashed #e0e0e0;
}
.num div span{
	display: block;
	margin: 15px auto;
	font:24px "Microsoft Yahei",sans-serif;
	color: #e96f2d;
	text-align:center;
}
.num div span input{
	width: 170px;
	height: 40px;
	font:24px/40px "Microsoft Yahei",sans-serif;
	color:#e96f2d;
	text-indent: 10px;
	border-radius: 5px;
	border: 1px solid #e96f2d;
	margin:0 10px;
}
.num div a.sub{
	display: block;
	float: left;
	width: 24px;
	height: 40px;
	margin-left: 95px;
	background: url(../images/slider.png);
}
.num div a.plu{
	display: block;
	float: right;
	width: 24px;
	height: 40px;
	margin-right: 55px;
	background: url(../images/slider.png);
	background-position: -814px 0;
}
.num div .img{
	display: block;
	float: left;
	width: 770px;
	height: 90px;
	background:url(../images/slider.png);
	background-position: -42px 0;
	position: relative;
	left: 20px;
}
.num div+div table{
	display: block;
	width: 850px;
	margin:20px auto;
}
.num div+div table td{
	width: 100px;
	height: 20px;
}
.num div+div a{
	display: block;
	margin:0 auto;
	width: 165px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	font:18px/40px "Microsoft Yahei",sans-serif;
	color: white;
	border: 1px solid #2ea7e0;
	border-radius: 5px;
	background-color: #2ea7e0;
}
.blank{
	height: 20px;
}
.pos{
	position: relative;
}
.per div+div span{
	display: block;
	font:14px "Microsoft Yahei",sans-serif;
	color: #666;
	margin-left: 50px;
	padding-bottom: 20px;
}
.per div+div span a{
	text-decoration: none;
	color: #2ea7e0;
}
.pig{
	float: left;
	width: 200px;
	margin:22px;
}
.pig img{
	display: block;
	margin:0 auto;
}
.pig h1{
	color: #222;
	font:20px "Microsoft Yahei",sans-serif;
	text-align: center;
}
.pig h1 span{
	color: #e96f2d;
	font:24px "Microsoft Yahei",sans-serif;
}
.pig p{
	color: #666;
	font:14px "Microsoft Yahei",sans-serif;
	text-align: center;
	display: block;
	padding-top: 10px;
}
table th{
	height: 36px;
	font:14px/36px "Microsoft Yahei",sans-serif;
	color: gray;
	text-align: center;
	width: 200px;
}
.num div+div table tr:hover{
	background-color: #FDEBCB;
}
.num div+div table td{
	height: 38px;
	font:16px/36px "Microsoft Yahei",sans-serif;
	color: #222;
	text-align: center;
	border-bottom:1px solid #e5e4e2;
}
.num div+div table span{
	width: 50px;
}
.per div+div table{
	display: block;
	width: 800px;
	margin:20px auto;
}
.per div+div table td{
	height: 40px;
	font:14px/36px "Microsoft Yahei",sans-serif;
	color: #222;
	border-bottom:1px solid #e5e4e2;
}
.txt-left{
	text-align: left;
}
.txt-cen{
	text-align: center;
}
.txt-right{
	text-align: right;
}
.txt-left span{
	padding: 0  !important;
	margin-left:10px !important;
	text-align: center;
	border-radius: 18px;
	width: 30px !important;
	height: 30px !important;
	font:14px/30px "Microsoft Yahei",sans-serif !important;
	background-color:#1bb8e2 ;
	color: #fff !important;
}
.four .point-line{
	margin:40px auto 10px;
	width: 570px;
}
.four .point{
	float: left;
	background-color: #e2e2e2;
	border: 1px solid #e2e2e2;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px;
}
.four .line{
	float: left;
	background-color: #e2e2e2;
	width: 150px;
	height: 2px;
	margin: 5px 5px 0;
}
.f-ste ol{
	margin-left: 138px;
}
.f-ste li {
	 display: block;
	 float: left;
	 font:14px "Microsoft Yahei",sans-serif;
	 color: #e2e2e2;
	 padding: 0 62px;
}
.f-ste div+div>a{
	display: block;
	margin:0 auto;
	width: 165px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	font:18px/40px "Microsoft Yahei",sans-serif;
	color: white;
	border: 1px solid #2ea7e0;
	border-radius: 5px;
	background-color: #2ea7e0;
}
.arrow{
	margin:40px auto 10px;
	width: 715px;
}
.arrow .arr-left a{
	display: block;
	float: left;
	width: 42px;
	height: 72px;
	margin-top: 180px;
	margin-right: 40px;
	background: url(../images/snow.png);
	background-position: 0 -265px;
}
.arrow .arr-left a:hover{
	background: url(../images/snow.png);
	background-position: 0 -176px;
}
.arrow .arr-right a{
	display: block;
	float: left;
	width: 42px;
	height: 72px;
	margin-top: 180px;
	margin-left: 40px;
	background: url(../images/snow.png);
	background-position: 0 -443px;
}
.arrow .arr-right a:hover{
	background: url(../images/snow.png);
	background-position: 0 -354px;
}
.arrow p {
	border: 2px solid #ccc;
	display: block;
	float: left;
	margin: 0 30px;
}
.f-ste div+div>p{
	display: block;
	margin: 20px auto;
	font:14px "Microsoft Yahei",sans-serif;
	color: ;
	text-align: center;
}
/*借款*/





.link{
	background-color: rgb(242,242,242);
}
.g-hand .link a{
	display: block;
	float: left;
	margin:20px 0 20px 10px;
	text-decoration: none;
	text-align: center;
	font:16px/24px "Microsoft Yahei",sans-serif;
	color: #808080;
}
.g-hand .link a:hover{
	color: #08c;
}
.g-hand .link a+a{
	float: right;
	display: block;
	color:#2ea7e0;
	font:14px/24px "Microsoft Yahei",sans-serif;
}
.g-hand .link a+a:hover{
	color:#2ea7e0;
}
.what{
	background-color: #fff;
}
.p-intro{
	background-color: #f4f6f9;
}
.g-title{
	clear: both;
	padding-right: 44px;
	font:18px/50px "Microsoft Yahei",sans-serif;
	color: #fff;
	position: relative;
}
.g-title div {
	position: relative;
	width: 16px;
	height: 70px;
	background:url(../images/guide-titlebg.png);
	right: 16px;
	top:70px;
}
.t-blue p{
	display: inline-block;
	width: 160px;
	background-color: #1bb8e2;
}
.t-orange div{
	background-position: 0 -370px;
}
.t-orange p{
	display: inline-block;
	width: 160px;
	background-color: #fb5a00;
}
.img-left{
	float: left;
	margin:20px 25px;
}
.p-right{
	float: left;
	width: 400px;
	margin:20px 50px;
}
.p-right p{
	color:#636363;
	font:14px/30px  "Microsoft Yahei",sans-serif;
}
.p-right span{
	font:48px/60px "Microsoft Yahei",sans-serif;
	font-weight: 700;
	display: block;
	float: left;
}
.p-left{
	float: left;
	width: 400px;
	margin:40px 0 40px 60px;
}
.img-right{
	float: right;
	width: 300px;
	margin-right: 100px;
	position: relative;
}
.img-right .icon-work{
	display: block;
	float: right;
	clear:both;
	position: relative;
	right:30px;
	top:50px;
}
.img-right .icon-biz{
	display: block;
	float: left;
	clear:both;
	position: relative;
	top:20px;
	right: 20px;
}
.img-right .icon-ecomm{
	display: block;
	float: right;
	clear:both;
	position: relative;
	bottom: 60px;
}
.p-left h2{
	font:24px/30px "Microsoft Yahei",sans-serif;
	display: block;
	margin-bottom: 18px;
}
.p-left p{
	font:14px/24px "Microsoft Yahei",sans-serif;
	color: #808080;
	margin-bottom: 20px;
}
/*新手指引*/




.team ul{
	width: 150px;
	float: left;
	margin:20px 20px 100px 20px;
}
.team a{
	display: block;
	height: 50px;
	text-decoration: none;
	font:14px/50px "Microsoft Yahei",sans-serif;
	border-bottom: 1px solid #f2f2f2;
	padding-left: 20px;
}
.team a:hover{
	color: #fff;
	background-color: #7fd4f3;
}
.r-team{
	margin-top: 20px;
	margin-bottom: 25px;
	width: 760px;
	background-color: #fff;
	float: left;
	border: 1px solid #e0e0e0;
	box-shadow: 0 0 2px 1px #efefef;
}
.r-team h1{
	font:24px "Microsoft Yahei",sans-serif;
	font-weight: 500;
	color: #2ea7e0;
	padding: 20px 0 20px 20px;
}
.r-team>p{
	font:14px/30px "Microsoft Yahei",sans-serif;
	padding: 0 20px 20px 20px;
}
.r-team .person{
	background-color: #f9f9f9;
	margin: 0 20px 20px;
}
.r-team .per-left{
	float: left;
	padding: 20px;
}
.r-team .per-left img{
	border: 1px solid #eee;
	padding: 2px;
}
.r-team .per-right{
	float: left;
	width: 521px;
}
.r-team .per-right h5{
	border-bottom: 1px solid #90d2f7;
	font:18px/40px "Microsoft Yahei",sans-serif;
	color: #2ea7e0;
	height: 40px;
}
.r-team .per-right em{
	display: block;
	float: right;
	height: 30px;
	font:14px/50px "Microsoft Yahei",sans-serif;
}
.r-team .per-right p{
	margin-top: 10px;
	margin-bottom: 30px;
	word-wrap: break-word;
	font:14px/30px "Microsoft Yahei",sans-serif;
}